[submodule "ADictionaryDelta/bhlLIB"]
	path = ADictionaryDelta/bhlLIB
	url = https://github.com/juanfmoyano/bhlLIB.git
[submodule "ADictionaryDelta/WikipediaLib"]
	path = ADictionaryDelta/WikipediaLib
	url = https://github.com/JuanJou/WikipediaLib/
[submodule "ADictionaryDelta/yandexservice"]
	path = ADictionaryDelta/yandexservice
	url = https://github.com/tomasfelder/yandexservice/
